body {
	display: grid;
	min-height: 100%;
	background: black;
	background-image: url("/images/background10.jpg");
	background-size: cover;
	background-attachment: fixed;
    background-repeat: no-repeat;
	font-family: 'Fjalla One', Century Gothic, Avant Garde, Futura, Bookman Old Style, Trebuchet MS, Helvetica, Tahoma, Verdana, Arial, sans-serif;
	font-size: large;
	margin: auto auto;
	color: black;
	/* min-width: 800px; */
	max-width: 1920px;
	min-height: 600px;
	height: auto;
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}

#content {
	margin: auto auto;
}

h1 {
	text-align: center;
}

p, ul, h1, h3, h2 {
	clear: left;
}

/* *************** Header *************** */
header {
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	height: auto;
	padding-top: 10px;
	margin-top: 50px;
	margin-bottom: 20px;

  a {
  	color: black;
  	text-decoration: none;

		h1 a {
			text-decoration: none;
		}

    h1, h2 {
    	font-weight: normal;
    	text-align: center;
			text-decoration: none;
      a{
        text-decoration: none;
      }
      a:hover{
        text-decoration: none;
      }
    }

	  h1:hover, h2:hover {
		  font-weight: normal;
		  text-align: center;
		  text-decoration: none;
	  }

    h1 {
    	margin-bottom: 10px;
    	font-size: 500%;
    }


    h2 {
    	margin-top: 0px;
    	margin-bottom: 20px;
    	padding-bottom: 20px;
    	font-size: 125%;
    }
  }
}


/* *************** Navigation *************** */
nav {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 10px;
	font-size: 110%;
	max-width: 800px;
	min-width: 480px;

  ul {
  	margin: 0px;
  	list-style-type: none;
  	padding: 5px;

    li {
    	display: inline;
    	padding: 30px;

      a:link, a:visited {
      	color: white;
      	text-decoration: none;
      }

      a:hover {
      	color: grey;
      }
    }
  }
}

/* *************** Section *************** */
section {
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	padding-left: 20px;
	margin: 30px;
	height: auto;

  p {
  	margin-left: 15px;
		font-family: 'Average', serif;
  }

	ul {
		font-family: 'Average', serif;
	}

  h2 {
  	clear: left;
  	margin: 10px 10px 20px 10px;
  }

  h3 {
  	text-align: left;
  	margin: 15px 0px 0px 15px;
  }
}

#portfolio {
	max-width: 90%;
	/* min-width: 480px; */
	margin: auto auto;
	/*padding-left: 70px;*/
}

#main {
	width: 800px;
	margin: auto auto;
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: 600px;
}

.center {
	margin: auto auto;
	text-align: center;
	margin: 10px;
}

/* *************** Text Styles *************** */
em {
	font-weight: bold;
	text-decoration: italics;
}

.about {
	text-align: left;
	width: 450px;
}

section ul li {
	list-style-image: url("/images/color_star.gif");
	margin-right: 10px;
}

section ul li.camera {
	list-style-image: url("/images/camera-icon.png");
	margin-right: 10px;
}

ol {
    display: block;
    list-style-type: decimal;
}


.turquoise {
	color: rgb(0,183,190);
	font-weight: bold;
}

.red {
	color: rgb(178,0,0);
	font-weight: bold;
}

.unicorn {
	color: rgb(229,94,149);
	font-weight: bold;
}

a {
	text-decoration: none;
}

.inline {
	display: inline;
}

.classic_cars {
	width: 50%;
}

/* *************** Buttons *************** */
 .portfolio_button {
	text-align: center;
	margin: auto auto;
	margin-top: 50px;
	width: 150px;
	color: white;
	border: 2px solid white;
	border-radius: 4px;
	font-size: 110%;
	padding: 5px;
	opacity: 0.7;
	background-color: grey;
}

.portfolio_button a {
	text-decoration: none;
	color: white;
}

.portfolio_button a:hover {
	text-decoration: none;
	opacity: 0.5;
	color: black;
}

/* *************** Images *************** */
img {
	display: block;
	margin: auto auto;
}

img.inline {
	display: inline;
	margin: 0px 5px 0px 0px;
	float: left;
}
.floatbox{
	display: inline;
	float: left;
}

figure {
	margin: 0px;
	padding: 0px;
}

figcaption {
	font-size: small;
	text-align: center;
}

img.imgborder {
	border: 2px solid black;
}

img.blueborder {
	border: 1px solid rgb(0,153,220);
	margin: auto auto;
}

a img:hover {
	opacity: 0.9;
}

/* *************** Boxes *************** */
#home_links {
	// display: grid;
	// grid-template-columns: 1fr 1fr 1fr;
	max-width: 800px;
	min-width: 480px;
	margin: auto auto;
}

.icon {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	p {
		text-shadow: 2px 1px black;
	}
	img {
		width: 150px;
		height: 150px;
		opacity: 0.95;
	}
	a {
		color: white;
	}
	a:hover {
		opacity: 0.5;
	}
}

.portfolio_box {
	border: 5px solid white;
	border-radius: 10px;
	background-color: grey;
	color: white;
	padding-top: 10px;
	margin: 10px;
	height: 280px;

	h2 {
		background-color: black;
		color: white;
		opacity: 0.8;
		margin: 0px;
		margin-bottom: 20%;
		text-align: center;
		vertical-align: bottom;
	}

	p {
		background-color: black;
		padding: 10px;
		opacity: 0.8;
		vertical-align: bottom;
	}

	img {
		width: 100%;
		height: 50%;
	}
}

.portfolio_box:hover {
	opacity: 0.9;
	cursor: pointer;
}

#Box1 {
	background-image: url("/images/1_websites.jpg");
}

#Box2  {
	background-image: url("/images/2_photography.jpg");
}

#Box3 {
	background-image: url("/images/3_coursework.png");
}

#Box4 {
	background-image: url("/images/4_blog.jpg");
}

#Box5 {
	background-image: url("/images/5_music.png");
}

#Box6 {
	background-image: url("/images/6_videos.jpg");
}

#Box7 {
	background-image: url("/images/7_artwork.png");
}

#Box8 {
	background-image: url("/images/8_painting.jpg");
}

#box_splitprecision, #box_cardinal, #box_wedding, #box_portfolio {
	padding: 0px;
	margin: 0px 0px 10px 0px;
	width: 50%;
	float: left;

	h3 {
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	p {
		margin: 20px;
	}

	img {
		width: 260px;
	}

	img:hover, #box_cardinal img:hover {
		opacity: 0.8;
	}
}


#box_splitprecision img {
	border: 3px solid rgb(25,102,200);
}

#box_cardinal img {
    border: 3px solid #C41E3A;
}

#box_wedding img {
    border: 3px solid rgb(25,102,200);
}

#box_portfolio img {
	border: 3px solid #548435;
}

#box_splitprecision h2 {
	color: white;
}

#box_cardinal h2 {
	color: black;
}

#flickr {
	height: 200px;
}

#photo_city, #photo_gym, #photo_nature, #photo_aerial {
	padding: 0px;
	margin-bottom: 20px;
	margin-right: 15px;
	width: 175px;
	height: 175px;
	float: left;
}

#photo_nature {
	clear: left;
	margin-left: 15px;
	background-image: url("/images/photo_nature.jpg");
    background-repeat: no-repeat;
    border: 3px solid rgb(163,45,133);
}

#photo_gym {
	background-image: url("/images/photo_gym.jpg");
    background-repeat: no-repeat;
    border: 3px solid rgb(130,9,16);
}

#photo_city {
	background-image: url("/images/photo_city.jpg");
    background-repeat: no-repeat;
    border: 3px solid rgb(56,134,210);
}


#photo_aerial {
	background-image: url("/images/photo_aerial.jpg");
    background-repeat: no-repeat;
    margin-right: 0px;
    border: 3px solid rgb(145,83,58);
}

#photo_aerial h2, #photo_city h2, #photo_gym h2, #photo_nature h2 {
	font-size: 150%;
	text-align: center;
	color: black;
	background: white;
	opacity: 0.7;
}

#photo_aerial:hover, #photo_city:hover, #photo_gym:hover, #photo_nature:hover{
	opacity: 0.9;
}
/* *************** Footer *************** */
footer {
	position: static;
	margin: auto auto;
	bottom: 10px;
	text-align: center;
	color: white;
	width: 100%;
	font-size: 90%;
	clear: top;
	clear: left;
	z-index: -1;
}

.copyright {
	font-size: 90%;
	text-align: center;
}

/* *************** Tables *************** */
table {
	width: 650px;
    margin-left:auto;
    margin-right:auto;
	border-spacing:20px;

  th {
  	color: #BD2031;
  	text-align: center;
  }

  td {
  	width: 50%;
  }

  h1 {
  	color: white;
  	font-size: 100%;
  	margin: 0px;
  	text-align: center;
  }

  h2 {
  	color: white;
  	font-size: 90%;
  	margin: 0px;
  	text-align: left;
  }
}
